<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ryowa_MailReceive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ryowa_MailReceive.Properties.Settings.ryowaConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\RYOWA_DATA\MDB\ryowa.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ryowa_MailReceive.Properties.Settings>
            <setting name="reCsvPath" serializeAs="String">
                <value>c:\ryowa_data\receive\</value>
            </setting>
            <setting name="receiveSpan" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="mailLogFilePath" serializeAs="String">
                <value>c:\ryowa_data\log\maillog.csv</value>
            </setting>
            <setting name="checkfromAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="sxlsPath" serializeAs="String">
                <value>c:\ryowa_data\xls\出勤簿車両走行報告書.xlsx</value>
            </setting>
            <setting name="gengou" serializeAs="String">
                <value>平成</value>
            </setting>
            <setting name="rekiHosei" serializeAs="String">
                <value>1988</value>
            </setting>
            <setting name="workTime" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="restTime" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="xlsOutPath" serializeAs="String">
                <value>c:\ryowa_data\xlsOut\</value>
            </setting>
        </ryowa_MailReceive.Properties.Settings>
    </applicationSettings>
</configuration>