<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ryowa_Confir.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ryowa_Confir.Properties.Settings.ryowagbConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\RYOWA_GDATA\MDB\ryowagb.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ryowa_Confir.Properties.Settings>
            <setting name="attachPath" serializeAs="String">
                <value>c:\ryowa_gdata\ATTACH\</value>
            </setting>
            <setting name="mailLogFilePath" serializeAs="String">
                <value>c:\ryowa_gdata\LOG\MAILLOG.csv</value>
            </setting>
            <setting name="rekiHosei" serializeAs="String">
                <value>1988</value>
            </setting>
        </ryowa_Confir.Properties.Settings>
    </applicationSettings>
</configuration>