<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ryowa_Kintai.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="ryowa_DATA.Properties.Settings.ryowaConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\RYOWA_DATA\MDB\ryowa.mdb"
      providerName="System.Data.OleDb" />
    <add name="ryowa_Kintai.Properties.Settings.ryowaConnectionString1"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\RYOWA_DATA\MDB\ryowa.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ryowa_Kintai.Properties.Settings>
            <setting name="ryowaConnectionString" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\RYOWA_DATA\MDB\ryowa.mdb</value>
            </setting>
            <setting name="startH" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="startM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="endH" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="endM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="login" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="tooshiH" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="rekiHosei" serializeAs="String">
                <value>1988</value>
            </setting>
            <setting name="sxlsPath" serializeAs="String">
                <value>c:\ryowa_data\xls\出勤簿車両走行報告書.xlsx</value>
            </setting>
            <setting name="gengou" serializeAs="String">
                <value>平成</value>
            </setting>
            <setting name="marume" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="workTime" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="restTime" serializeAs="String">
                <value>120</value>
            </setting>
        </ryowa_Kintai.Properties.Settings>
    </applicationSettings>
</configuration>